
html {
    scroll-behavior: smooth;
}

body {
    background-color: antiquewhite
  }
  h1 {
    font-size: xx-large;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
  }
  p {
    font-size: small;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 50px auto;
    padding: 0 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  .contact-links {
    text-align: center;
    margin-top: 30px;
  }
  
  .contact-links a {
    display: inline-block;
    text-decoration: none;
    color: #333;
    font-size: 20px;
    margin: 0 10px;
  }
  
  .contact-links a:hover {
    color: #007bff; /* Change color to your preferred hover color */
  }


    header {
        background-color: #333;
        color: #fff;
        padding: 10px 0;
        text-align: center;
      }
      
      nav {
        display: flex;
        justify-content: center;
      }
      
      nav a {
        color: #fff;
        text-decoration: none;
        margin: 0 15px;
        padding: 5px 10px;
        border-radius: 5px;
        transition: background-color 0.3s ease;
      }
      
      nav a:hover {
        background-color: #555;
      }

      #back-to-top {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: #333;
        color: #fff;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        display: none;
        cursor: pointer;
        transition: opacity 0.4s, visibility 0.4s, transform 0.4s;
      }
      
      #back-to-top.show {
        display: block;
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }

      .text-block {
        grid-column: span 1;
        color: black;
        padding: 20px;
        border-radius: 8px;
        background-color: antiquewhite;
        height: 500px;

    }

.button-74 {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}

/* Style for the text */
.text {
  padding: 20px;
  text-align: left;
}

/* Style for the image */
.image {
  height: 600px;
  padding: 20px;
  text-align: right;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

section {
  padding: 20px;
}
.anatomy-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.anatomy-text {
  flex: 1;
}
.anatomy-image {
  flex: 1;
  text-align: center;
}
.anatomy-image img {
  max-width: 100%;
  height: auto;
}

#titleContainer {
  transform: translate(-50%, -50%) scale(2);
  opacity: 1;
}
.container2 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

#content {
  min-height: 500px;
}